<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
    <div class="">
        <div class="">
            <h2><%= actor.first_name %> <%= actor.last_name %> </h2>
        </div>
        <div class=""> 
            <p>Rating: <%= actor.rating %> </p>
        </div>
        <div class="">
            <a href="/actors">MODIFICAR</a>
            <form action="" method="POST">
                <a href="/actors">BORRAR</a>
            </form>
        </div>
    </div>  
</div>
</body>
</html>