<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Busqueda no encontrada'}) %> 
</head>
<body>
 <header>
    <%- include('partials/header') %>
</header>  
            <h2>Busqueda no Encontrada!</h2>
    <script>
        function redirect() {
            location.href="/movies";
        }
        setTimeout("redirect()", 3000);
    </script>       
</body>
</html> 